# Dependencies
node_modules/

# Build outputs
/dist/
/playwright-report/
/test-results/
/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
.tmp/
*.local
